@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  --theme-white: 243, 246, 247;
  --theme-black: 20, 15, 15;

  --theme-primary: 42, 41, 69;
  --theme-primary-inverted: 180, 188, 255;

  --theme-secondary: 67, 93, 176;
  --theme-secondary-inverted: 188, 187, 235;

  --theme-accent: 240, 120, 36;
  --theme-accent-inverted: 226, 78, 27;

  --theme-success: 155, 200, 142;
  --theme-success-inverted: 155, 200, 142;

  --theme-danger: 255, 123, 123;
  --theme-danger-inverted: 255, 123, 123;

  --theme-info: 86, 202, 202;
  --theme-info-inverted: 86, 202, 202;

  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url(../assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
*::selection {
  background-color: #a1d7f0;
  color: #000000;
}
html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 0;
}
