@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url(../assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  ::selection {
    background-color: #a1d7f0;
    color: #000000;
  }
}
html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
h1 {
  font-family: "Poppins-Bold", Helvetica, Arial, sans-serif;
}
h3 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 0;
}

button {
  cursor: pointer;
  transition: 0.1s ease-in-out all;
}
