.descriptionContainer {
  padding: 20px 40px 40px 40px;
  width: 100%;
}

.Description-header {
  margin-bottom: 30px;
  padding-bottom: 10px;
}



.Description-descriptionText {
  display: flex;
}

.Description-footer {
  position: fixed;
  width: 100%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.Description-search {
  display: flex;
  gap: 10px;
  background-color: var(--greyDark);
  color: white;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  padding: 10px 20px;
  /* border-radius: 20px; */
}

.Description-search:hover {
  background-color: var(--black);
  transform: scale(0.95);
}

.Description-search:active {
  background-color: var(--black);
  transform: scale(0.9);
}