.languagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  gap: 5px;
  transition: all 0.3s ease;
  flex-wrap: wrap;
}


.languagesContainer span {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 3px 8px;
  border-radius: 15px;
  background-color: var(--bg-light);
}

.languagesContainer span:hover {
  background-color: var(--primary-light);
}

.languagesContainer .active {
  background-color: var(--primary);

}

.languagesContainer .active:hover {
  background-color: var(--primary-dark);

}