.title-container {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
  z-index: 3;
}
a {
  text-decoration: none;
}
.title {
  display: flex;
  font-size: 1.8em;
  font-weight: 600;
  margin: 0px 0;
  padding: 0;
}
.arrow {
  opacity: 0;

  margin: 5px 2px;
}
.title:hover {
  cursor: pointer;
  text-decoration: underline;
}
.title:hover .arrow {
  opacity: 1;
}
.category {
  font-size: 14px;
  margin: 0px 0;
  padding: 0;
  text-transform: uppercase;
}
