.closeButton {
  user-select: none;
  position: absolute;
  z-index: 5;
  top: 0px;
  height: 49px;
  right: 0px;
  color: var(--black);
  padding: 5px 13px;
  display: flex;
  background-color: var(--primary);
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 20px;
}

.closeButton:hover {
  background-color: var(--primary-dark);
}

.closeIcon svg {
  width: 49px;
}

.card-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: auto;
}

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100%;
  transform: translateZ(0);
  z-index: 2;
}