.closeButton,
.bigButton {
  user-select: none;
  position: absolute;
  z-index: 5;
  top: 0px;
  height: 49px;
  color: var(--black);
  padding: 5px 13px;
  display: flex;
  background-color: var(--primary);
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 20px;
}

.closeButton {
  right: 0px;
}

.bigButton {
  right: 50px;
}

.closeButton:hover {
  background-color: var(--primary-dark);
}

.closeIcon svg {
  width: 49px;
}

.card-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: auto;
  transition: 0.3s ease-out all;
}

.card-image:hover {
  transition: none;
}


.card-image-container {
  perspective: 1000px;
  position: absolute;
  top: 0;
  border-radius: 20px;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100%;
  transform: translateZ(0);
  z-index: 2;
}

.card-image-container-selected {
  height: 400px;
}


.mobileAndSelected {
  height: 250px;
}