.buttons-image {
  width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  position: fixed;
  top: 0px;
  bottom: 0;
  z-index: -1;
}

.changeProjectLink {
  z-index: 9;
}

.controls-image {
  display: flex;
  height: 49px;
  width: 49px;
  background-color: var(--primary);
  border: none;
  border-radius: 25px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 2;
}



.controls-image a {
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.controls-image:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}



.toHome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}


@media screen and (max-width: 850px) {
  .buttons-image {
    display: none;

  }

  /* .prev-image {
    position: absolute;
    top: 300px;
    left: 0;
    border-radius: 0 25px 25px 0;

  }

  .next-image {
    position: absolute;
    top: 300px;
    right: 0;
    border-radius: 25px 0 0 25px;
  }

  .toHome {
    z-index: -5;
  } */


}