.buttons-image {
  width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  position: fixed;
  top: 0px;
  bottom: 0;
  z-index: -1;
}

.controls-image {
  display: flex;
  height: 49px;
  width: 49px;
  background-color: var(--primary);
  border: none;
  border-radius: 25px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.controls-image a {
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.controls-image:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}
