h1 {
  font-weight: bold;
  font-size: var(--title);
  color: rgb(0, 0, 0);
  margin: 10px 0 10px 0;
  line-height: 0.9;
}

h3 {
  margin: 0 0 15px 0;
  font-weight: 600;
}

header {
  border-bottom: 1px solid var(--divider);
  position: relative;
}






section {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.langs {
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}

.langs:hover {
  margin: 0 0.5rem 0 0;
  text-decoration: underline;
}

.langChoosen {
  background-color: red;
}

/* iF MOBILE */


@media only screen and (max-width: 600px) {
  header {
    border: none;
  }

  .descriptionAndImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
    width: 100%;
  }


  .avatar {
    border-radius: 50%;
    position: relative;
    bottom: 12px;
    width: 120px;
    margin-right: 30px;
    display: flex;
  }

  .meinPhoto {
    max-width: 120px;
    max-height: 120px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .blob {
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}