.title-container {
  position: absolute;
  top: 3%;
  left: 5%;
  max-width: 400px;
  z-index: 3;
}



.title {
  display: flex;
  font-size: 1.8em;
  font-weight: 600;
  margin: 0px 0;
  padding: 0;
}

.arrow {
  display: none;

  margin: 5px 5px;
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title:hover .arrow {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
}

.category {
  font-size: 14px;
  margin: 0px 0;
  padding: 0;
  text-transform: uppercase;
}

.year {
  font-size: 14px;
  margin: 0px 0;
  padding: 0;
  text-transform: uppercase;
}