@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

.App {
  text-align: center;
}

body {
  /* colors */

  --primary: #a1d7f0;
  --primary-dark: #68b4d8;
  --primary-light: #a8a4a8;
  --bg-light: #c8c8c8;
  --bg-dark: #949494;
  --divider: #343434;
  --white: rgb(245, 245, 245);
  --black: #000
    /* FontSizes */
    --title: 64px;
  --subtitle: 24px;
  --text: 12px;

  --space-cards: 4%;
  margin: 0;
  padding: 0;
  background: var(--white);

}

* {
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, Arial, sans-serif;

  -webkit-tap-highlight-color: rgba(224, 68, 68, 0);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

#root {
  display: grid;
  justify-items: center;

}

.screen {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 990px;
  width: 100%;
  flex: 1 1 100%;
  padding: 45px 25px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}




p {
  color: #070707;
  font-size: 20px;
  line-height: 28px;
}