.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 7px;
    margin: 0 0 0 0;
    padding: 0px;
    list-style: none;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.contentNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.filterNav {
    width: 180px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
}

.noFilters {
    width: 30px;
}

.searchNav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.mobileSearch {
    width: 100%;
}

.iconSearch {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWithIcon {
    width: 200px;
    border: 1px solid black;
    display: flex;
    border-top: none;
    outline: none;
    margin: 0 0 0 0;
    gap: 5px;
    border-radius: 0 0 10px 10px;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    padding-left: 5px;
    /* transition: 0.3s ease-in-out; */
}

.activeInput {
    width: 350px;
}


.input {
    padding: 4px 10px;
    width: calc(100% - 20px);
    border: none;
    border-radius: 0 0 10px 0;

    outline: none;
    cursor: pointer;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}



.years {
    /* margin-top: 2px; */
    display: flex;
    gap: 5px;
}

.year {

    padding: 3px 7px;
    border-radius: 0 0 10px 10px;
}

.year:hover {
    background-color: var(--bg-light);
}


.sortIcon {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
    padding: 8px 5px 5px 5px;
    color: var(--black);
    cursor: pointer;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 0 0 10px 10px;
}

.sortIcon:hover {
    background-color: var(--bg-light);

}

.refresh {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
    padding: 8px 5px 5px 5px;
    color: var(--black);
    cursor: pointer;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 0 0 10px 10px;
}

.refresh:hover {
    background-color: var(--bg-light);

}


@media only screen and (max-width: 600px) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 7px;
        margin: 0 0 0 0;
        padding: 0px;
        list-style: none;
        color: var(--black);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        text-decoration: none;
        cursor: pointer;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .contentNav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
    }

    .inputWithIcon {
        width: 100%;
        border-radius: 10px;
        border: 1px solid black;
        justify-content: space-between;
    }

    .input {
        width: 92%;
        border-radius: 10px;
    }

    .year {
        border-radius: 10px;
    }
}